html {
    font-size: 62.5%;
}

body {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0
}

.navbar {
    padding: 4% 0;
    width: 100%;
    background-color: #29bde0;

    .icon-nav {
        margin-left: 3.4375%;
        width: 5.3125%;
    }
}

.container  {
    background-color: #efefef;
    padding-top: 13px;
    padding-bottom: 100px;

    .lastGame {
        padding: 6% 0;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 3.4rem;
        color: #9a9a9a;
        background-color: #ffffff;
        border: 1px solid #c9c9c9;

        .icon-last {
            width: 3.75%;
            float: right;
            margin-right: 3.125%;
        }
    }

    .startGame {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 16px;
        background-color: #ffffff;
        border: 1px solid #c9c9c9;

        .name {
            padding: 5% 0;
            text-align: center;
            font-size: 3.2rem;
            color: #fbb435;
            border-bottom: 2px solid #fbb435;
        }

        .start-btn {
            position: relative;

            a {
                text-decoration: none;
            }

            .btn {
                padding: 9% 0;
                margin: 5% 8.4%;
                text-align: center;
                color: #ffffff;
                font-size: 3rem;
                background-color: #69d1e9;
            }

            .btn:hover{
                cursor:hand;
                background:#29bde0;
            }

            .jiantou {
                position: absolute;
                top: 22%;
                right: 1%;
                width: 4.6%;
                color: #fbb435;
            }

            .title {
                font-size: 2.4rem;
                text-align: center;
                width: 100%;
                color: #787878;
            }
        }
    }

    .diandiandian {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #69d1e9;
        margin: 20px 0;
    }

}

@media screen and (max-width: 540px){
    html{
        font-size: 50%;
    }

    .icon-last {
        margin-top: 1%;
    }
}

@media screen and (max-width: 440px){
    html{
        font-size: 40%;
    }
}
