
<header id="header">
    <a><div class="icon-left"><img src="images/back.gif"></div></a>
    <span>查看身份</span>
    <div class="icon-right"><img src="images/close.gif"></div>
</header>

<div id="content">
        <div  class="card">
            <div class="icon"><img class="image" ng-src="{{icon}}" src="images/page1.gif"/></div>
            <div class="name" ng-bind="name"></div>
            <div class="number" ng-bind="index"></div>
        </div>

        <button ng-click="clickBtn()" class="btn" ng-bind="btnTitle">查看1号身份</button>
    </div>


