
<header class="navbar">
    <img src="images/bread.gif" class="icon-nav"/>
</header>

<div class="container">
    <div class="lastGame">
        <span>上次游戏：捉鬼猜词版</span>
        <img src="images/next.gif" class="icon-last"/>
    </div>


    <div class="startGame">
        <div class="name"><span>捉鬼游戏</span></div>
        <div class="start-btn">
            <a ui-sref="peoples"><div class="btn">简化版</div></a>

            <div class="title">
                <span>有1133个用户正在玩此款游戏</span>
            </div>
        </div>

        <div class="start-btn">
            <div class="start-btn">
                <a href=""><div class="btn">猜词版</div></a>
                <img src="images/delta.gif" class="jiantou"/>
                <div class="title">
                    <span>有1133个用户正在玩此款游戏</span>
                </div>
            </div>
        </div>

        <div class="start-btn">
            <div class="start-btn">
                <a href=""><div class="btn">白痴版</div></a>
                <div class="title">
                    <span>有1133个用户正在玩此款游戏</span>
                </div>
            </div>
        </div>

        <div class="diandiandian">
            <i class="iconfont">&#xe607;</i>
            <i class="iconfont" style="color: #f0f0f0">&#xe607; &#xe607; &#xe607;</i>
        </div>
    </div>
</div>
