

<header class="navbar">
    <div class=" left">
        <img src="images/back.gif"/>
    </div>
    <div class="title">
        <span>杀手杀人</span>
    </div>

    <a href="">
        <div class="right">
            <img src="images/close.gif"/>
        </div>
    </a>


</header>

<div class="content9">
    <div class="box">
        <span class="ChangeText">杀手请睁眼，选择一个你要杀的人</span>
        <img src="images/play.gif" class="playback" />
    </div>
    <div class="arrow"></div>

    <div class="text">
        <span class="ChangeText">点击一个玩家头像将他杀死</span>
    </div>



    <div id="content">

        <div ng-repeat="people in peoples track by $index" class="card">
            <div class="border">
                    <div ng-click="clickPeople($index)" ng-class="isClick($index)" ng-bind="people" class="identity"></div>
                    <div ng-bind="$index+1 + '号'" class="number"></div>
                </div>
            <div ng-class="isClick($index)" class="bottom-img"><img src="images/icon.gif"/></div>
        </div>
    </div>

</div>

<footer class="footer">
    <div ng-click="clickBtn()" class="footer-btn">
        <span>确定</span>
    </div>

</footer>

